{{extend 'layout.html'}}

<div>
    <div style="width: 40%;float:left;background:#B9CDF0;border: thick solid  #1B4388;border-radius:25px; padding-left:20px; padding-right:20px; margin: 10px;">
        <h2>
            {{=A('Part1', _href=URL('part1'))}}
        </h2>
        <p>
            Add or subtract counts from your favorite(or least favorite president).
        </p>
    </div>
    <div style="width: 40%;float:right;background:#B9CDF0;border: thick solid  #1B4388;border-radius:25px; padding-left:20px; padding-right:20px; margin: 10px;">
        <h2>
            {{=A('Part2', _href=URL('part2'))}}
        </h2>
        <p>
            Play a President ordering game!
        </p>
    </div>
</div>
